{% extends 'base.html.twig' %}

{% block body %}
    
 <div 
    data-controller="misc--loader locations--view" 
    data-action="pageChange->locations--list#pageUpdated"
    data-locations--view-location-value="{{ locationId }}"
    >
        <div 
            data-locations--view-target="loader"
            data-misc--loader-target="indicator" 
            class="text-center py-8 text-gray-600">
            Loading details...
        </div>

        <div 
            data-misc--loader-target="content"
            data-locations--view-target="details"
            class="max-w-5xl mx-auto p-6 space-y-8 hidden">
        </div>
        
        <div 
            data-misc--loader-target="content"
            data-locations--view-target="characters"
            class="max-w-5xl mx-auto p-6 space-y-8 hidden">
        </div>

    </div>
 </div>
{% endblock %}
